<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lista con Vue</title>
  </head>
  <body>
    <div id="lista">
      <p>Nombres:</p>

      <div v-if="personas.length > 0">
        <span v-for="(persona,index) in personas" :key="index">
          {{persona.nombre}},
        </span>
      </div>
      <p v-else>El array de nombres esta vacio</p>
      <div>
        <!--V-model conecta input con variables-->
        <input
          type="text"
          placeholder="Añada un nombre"
          v-model="nombreAñadir"
        />
        <button @click="añadirPersona">Añadir</button><br />
        <button @dblclick="borraPersona">Eliminar</button>
      </div>
    </div>

    <script src="./scripts/main.js"></script>
  </body>
</html>
