@use "variables" as v;


@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin responsive($size) {
  @if map-has-key(v.$breakpoints, $size) {
    @media (max-width: map-get(v.$breakpoints, $size)) {
      @content;
    }
  }
}


@mixin button-style($bg) {
  background: $bg;
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }
}