$colors: (
  primary: #e63946,
  dark: #1d1d1d,
  light: #f1f1f1,
  accent: #ffbe0b,
  gray: #777
);

$font-sizes: (
  xl: 2.5rem,
  lg: 2rem,
  md: 1.5rem,
  sm: 1rem
);

$breakpoints: (
  xl: 1200px,
  lg: 1000px,
  md: 760px,
  sm: 560px
);