@use "../abstracts/mixins" as m;

footer {
  background: #222;
  color: white;
  padding: 40px 0;

  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  @include m.responsive(lg) {
    .footer-container {
      grid-template-columns: 1fr;
      text-align: center;
    }
  }
}