#input{
    background-color: rgb(113, 113, 250) ;

    height: 180px;
    width: 350px;
}

h1 {
    color: rgb(65, 65, 245);
}


#tventa{
    top: 2;
   
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    height: 180px;
    width: 560px;
}

th, td, table {
    color: rgb(206, 22, 160);
     border: 1px solid #080808; 
    padding: 8px; 
    text-align: left; 

}
.contenedor-padre {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
}

#area{
    resize: none;
    display: flex;
    top: 30;
    
}

