
.icon-user:before { content: '\e800'; } /* '' */
.icon-note-beamed:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-book:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-play:before { content: '\e805'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
