<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/formularios.css}">
    <title>Modificar Faltas</title>
</head>

<body>
<h1>Modificar faltas</h1>
<div th:replace="~{menu :: menu}"></div>

<div class="container">
    <h2>Modificar Faltas</h2>

    <div class="form">
        <form th:action="@{/faltas/actualizarFaltas}" method="post">

            <label for="id">ID Falta</label>
            <input type="number" name="id" required><br>

            <label for="fecha">Fecha</label>
            <input type="date" name="fecha" required><br>

            Justificada:
            <input type="checkbox" name="justificada" value="1"><br>

            <input type="submit" value="Modificar">
        </form>
    </div>
</div>

<div th:if="${resultado != null}">
    <h2 th:if="${resultado > 0}" style="color: green;">Falta modificada correctamente</h2>
    <h2 th:if="${resultado == 0}" style="color: red;">Error al modificar la falta</h2>
</div>

</body>
</html>
