<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/formularios.css}">
    <link rel="stylesheet" th:href="@{/css/tablas.css}">
    <title>Listado Faltas</title>
</head>

<body>

<h1>Listado Faltas</h1>
<div th:replace="~{menu :: menu}"></div>

<div class="container">
    <div class="form">
        <form th:action="@{/faltas/listadoFaltas}" method="post">

            <label>ID Alumno</label>
            <input type="number" name="idAlumno"><br>

            <label>Fecha</label>
            <input type="date" name="fecha"><br>

            <input type="submit" value="Buscar">
        </form>
    </div>
</div>

<h2 th:if="${lista == null or lista.isEmpty()}">
    No hay resultados que mostrar
</h2>

<table th:if="${lista != null and !lista.isEmpty()}">
    <tr>
        <th>ID FALTA</th>
        <th>ID ALUMNO</th>
        <th>NOMBRE ALUMNO</th>
        <th>NOMBRE ASIGNATURA</th>
        <th>FECHA</th>
        <th>JUSTIFICADA</th>
    </tr>

    <tr th:each="falta : ${lista}">
    <td th:text="${falta.id}"></td>
    <td th:text="${falta.idAlumno}"></td>
    <td th:text="${falta.nombreAlumno}"></td>
    <td th:text="${falta.nombreAsignatura}"></td>
    <td th:text="${falta.fecha}"></td>
    <td th:text="${falta.justificada == 1 ? 'Sí' : 'No'}"></td>
</tr>

</table>


</body>
</html>
