label {
  display: inline-block;  
  padding: 5px 10px;       
  margin: 5px 0;           
  border: 1px solid #000;  
}

body{
    align-items: center;
    align-items: center;
    text-align: center;
}
