div {
    border: 1px solid black;
    border-radius: 2em 2em;
    box-sizing: border-box;
    width: 50%;
    height: 350px;
    float: left;
    padding: 2%;
}

td{
    border: solid 1px rgb(179, 51, 51);
}