html {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
.titulo {
    text-align: center;
}
.header {
    padding-top: 3rem;
}
.navegacion {
    background-color: black;
    margin: 3rem 0;
}

.navegacion a {
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
.navegacion a:hover {
    background-color: #c9c84a;
    color: black;
}
img {
    max-width: 100%;
}
.slider img {
    width: 100%;
}
.entrada p {
    text-align: justify;
}

.informacion {
    background-color: #c9c84a;
    color: white;
    font-size: 1.4rem;
}
.informacion p {
    margin: 0 0 .5rem 0;
    padding: 1rem;
    text-align: center;
}
.imagen1,
.imagen2 {
    text-align: center;
}
blockquote {
    font-size: 1.4rem;
    text-align: center;
    font-style: italic;
    color: #525252;
}
.footer {
    background-color: #c9c84a;
    padding-top: 3rem;
    text-align: center;
}
.footer a {
    display: block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    color: #525252;
    margin-bottom: .5rem;
}
.copyright {
    color: white;
    background-color: #282828;
    margin: 3rem 0 0 0;
    padding: 1rem;
    text-align: center;
}

.contenedor {
    max-width: 900px;
    margin: 0 auto;
}


/** Grid aqui **/



.contenido-principal {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    grid-template-areas:
        "titulo titulo titulo"
        "info texto img2"
        "info img1 img2";
    gap: 2rem;
}


.titulo {
    grid-area: titulo;
}

.entrada {
    grid-area: texto;
}

.informacion {
    grid-area: info;
}

.imagen1 {
    grid-area: img1;
}

.imagen2 {
    grid-area: img2;
}


.navegacion nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.footer .contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}




@media (max-width: 768px) {

    .contenido-principal {
        grid-template-columns: 1fr; 
        grid-template-areas:
            "titulo"
            "texto"
            "info"
            "img1"
            "img2"; 
    }

    .navegacion nav {
        grid-template-columns: 1fr; 
    }

    .footer .contenedor {
        grid-template-columns: repeat(2, 1fr); 
    }
}




.slider {
    height: 300px;          
    overflow: hidden;       
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;      
    object-position: center ;
}
