<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repaso-VUE</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="./scripts/style.css">
</head>
<body>
    <div id="app">
        <h1>Contador</h1>
         <p>{{ contador }}</p>

         <button @click="restar">-</button>
         <button @click="sumar">+</button>
    </div>
    <hr><br>
    <div id="texto">
        <h2>Texto para mostrar</h2>
        <p v-if="visible">Este texto es PoPUp</p>

        <button @click="mostrar">Mostrar texto</button>
        <button @click="ocultar">ocultar texto</button>
    </div>
<br><br><br><br>

    <!--Saber que escribio una persona-->
    <div id="input">
        <input type="text" v-model="texto" placeholder="Escribe algo">
        <p v-if="texto">Has escrito <strong>{{ texto }}</strong></p>
        <p v-else>No hay texto</p>

    </div>
    

    <script src="./scripts/js.js"></script>
</body>
</html     