<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Matriculaciones</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/formularios.css}">
</head>
<body>

<h1>Actualizar matriculaciones</h1>
<div th:replace="~{menu :: menu}"></div>

<div th:each="m : ${lista}" class="form">
    <form th:action="@{/matriculaciones/actualizarMatriculacion}" method="post">

        <input type="hidden" name="id" th:value="${m.id}">

        <label>Fecha</label>
        <input type="date" name="fecha" th:value="${m.fecha}"><br>

        Activo:
        <input type="checkbox" name="activo" value="1"
               th:checked="${m.activo == 1}"><br>

        <input type="submit" value="Modificar">
    </form>
</div>

<div th:if="${resultado != null}">
    <h2 th:if="${resultado > 0}" style="color: green;">
        Matriculación actualizada correctamente
    </h2>
    <h2 th:if="${resultado == 0}" style="color: red;">
        Error al actualizar la matriculación
    </h2>
</div>

</body>
</html>
