<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insertar Matriculación</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/formularios.css}">
</head>
<body>

<h1>Insertar matriculación</h1>
<div th:replace="~{menu :: menu}"></div>

<div class="container">
    <div class="form">
        <form th:action="@{/matriculaciones/insertarMatriculacion}" method="post">

            <label>ID Alumno</label>
            <input type="number" name="alumno" required><br>

            <label>ID Asignatura</label>
            <input type="number" name="asignatura" required><br>

            <label>Fecha</label>
            <input type="date" name="fecha"><br>

            <input type="submit" value="Insertar">
        </form>
    </div>
</div>

<div th:if="${resultado != null}">
    <h2 th:if="${resultado > 0}" style="color: green;">
        Matriculación insertada correctamente
    </h2>
    <h2 th:if="${resultado == 0}" style="color: red;">
        Error al insertar la matriculación
    </h2>
</div>

</body>
</html>
