<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado Matriculaciones</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/formularios.css}">
    <link rel="stylesheet" th:href="@{/css/tablas.css}">
</head>
<body>

<h1>Listado matriculaciones</h1>
<div th:replace="~{menu :: menu}"></div>

<div class="container">
    <div class="form">
        <form th:action="@{/matriculaciones/listadoMatriculaciones}" method="post">
            <label>Nombre Asignatura</label>
            <input type="text" name="nombreAsignatura"><br>

            <label>Nombre Alumno</label>
            <input type="text" name="nombreAlumno"><br>

            <label>Fecha desde</label>
            <input type="date" name="fecha"><br>

            Activo:
            <input type="checkbox" name="activo" value="1"><br>

            <input type="submit" value="Buscar">
        </form>
    </div>
</div>

<h2 th:if="${lista == null or lista.isEmpty()}">
    No hay resultados
</h2>

<table th:if="${lista != null and !lista.isEmpty()}">
    <tr>
        <th>Alumno</th>
        <th>Asignatura</th>
        <th>Fecha</th>
        <th>Activo</th>
    </tr>

    <tr th:each="m : ${lista}">
        <td th:text="${m.nombreAlumno}"></td>
        <td th:text="${m.nombreAsignatura}"></td>
        <td th:text="${m.fecha}"></td>
        <td th:text="${m.activo == 1 ? 'Sí' : 'No'}"></td>
    </tr>
</table>

</body>
</html>
