body {
  font-family: Arial, sans-serif;
  margin: 30px;
}

ul {
  padding-left: 20px;
}

li {
  margin: 6px 0;
  cursor: pointer;
}

.hecho {
  text-decoration: line-through;
  color: gray;
}

input[type="text"] {
  margin-right: 5px;
}


.cVerde{
    color: green;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cRojo{
    color: red;
    font-family: 'fantasy';
    list-style-type: square;
}
.cAmarillo{
    color: yellow;
    background-color: black;
    text-align: center;
}
.cRosa{
    color: pink;
    background-color: green;
    text-align: center;
}