body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
}

h1, h2 {
    text-align: center;
}

section {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #93ca53;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    margin-top: 15px;
    padding: 10px;
    cursor: pointer;
}

#errores {
    margin-top: 15px;
    padding: 10px;
    color: red;
    border: 1px solid red;
    display: none;
}
.Rojo{
    background-color: red;
}