.contenedor {
  display: grid;
  gap: 15px;
  padding: 20px;
 
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "principal corto1"
    "principal corto2"
    "principal corto3"
    "noticia1 noticia2";
}


.contenedor > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.principal { 
  grid-area: principal; 
  background:#c9c9c9;
  height: 180px;
}

.corto1, .corto2, .corto3 {
  background:#c9c9c9;
  height: 60px;
}

.corto1 { grid-area: corto1; }
.corto2 { grid-area: corto2; }
.corto3 { grid-area: corto3; }

.noticia1, .noticia2 {
  background:#c9c9c9;
  height: 70px;
}

.noticia1 { grid-area: noticia1; }
.noticia2 { grid-area: noticia2; }


@media (max-width: 700px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-areas:
      "principal"
      "corto1"
      "corto2"
      "corto3"
      "noticia1"
      "noticia2";
  }

  .principal, .corto1, .corto2, .corto3, .noticia1, .noticia2 {
    height: 80px;
  }
}
