
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.contenedor {
    display: grid;
    min-height: 100vh;

    
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
        "header header"
        "articulo sidebar"
        "noticias sidebar"
        "footer footer";
}


.header {
    grid-area: header;
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 7px;
}

.articulo {
    grid-area: articulo;
    background: #b6dcee;
    padding: 15px;
    height: 400px;
}

.sidebar {
    grid-area: sidebar;
    background: #eaa7a7;
    padding: 15px;
}

.noticias {
    grid-area: noticias;
    background: #b4f7b4;
    padding: 15px;
    height: 80px;
}

.footer {
    grid-area: footer;
    background: #333;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 7px;
}


@media (max-width: 768px) {

    .contenedor {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "articulo"
            "noticias"
            "sidebar"
            "footer";
    }

    .articulo { height: 350px; }
    .noticias { height: auto; }
}
