
.icon-cancel-circled:before { content: '\e806'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-window-restore:before { content: '\f2d2'; } /* '' */
