body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    max-width: 1100px;
    margin: auto;
}


@media (min-width: 768px) {
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }


    #botones {
        grid-column: span 2;
        text-align: center;
    }
}

.form-section {
    border: 1px solid #ccc;
    padding: 10px;
}

.form-section h2 {
    margin-top: 0;
}


input, select, textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}


.form-section ul {
    list-style: none;
    padding: 0;
}

.form-section ul li {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}


progress {
    float: right;
    width: 40%;
}

#botones button {
    padding: 8px 20px;
    margin: 5px;
}
